[Unit]
Description=Manage access to and AGPS on GNSS devices
Before=gpsd.service gpsd.socket geoclue.service

[Service]
Type=simple
ExecStart=/usr/bin/gnss-share

[Install]
WantedBy=multi-user.target

